---
layout: layouts/base.njk
title: "404"
menuParent: About
forward:
  text: "<p><strong>Sadly, the file you were seeking must have strayed off the pasture.</strong> Please select another page from the menu above...and do your best to keep it in line this time.</p>"
  image: images/about-sheep.jpg
  alt: Dog herding sheep
stripe: '<span class="quote">&ldquo;Heather uses humor to defuse tense situations and help stakeholders find consensus.&rdquo;</span>'
permalink: 404.html
---


