---
layout: layouts/base.njk
title: Background
menuParent: About
menuItem: Background
permalink: about.html
forward:
  text: "<p>Launched in 2010, <strong>Peak Facilitation Group</strong> is a small business devoted to conflict resolution
                    and rooted in reality. Her previous work in the field taught founder <strong>Heather Bergman</strong>                    that while most groups can find agreement, all groups benefit from respectful dialogue. Plus, she has
                    a gift for barking orders or gently nipping at a group's heels…whichever is required.</p>"
  image: images/about-sheep.jpg
  alt: Dog herding sheep
stripe: '<span class="quote">&ldquo;Heather could break up a fight in a biker bar.&rdquo;</span> &mdash;Gary Barber /
                Pikes Peak Regional Water Authority'
---
            <div class="full-article">
{%- for person in team -%}
                {% include "components/bio.njk" %}

{% endfor -%}
            </div>
