---
layout: layouts/base.njk
title: Background
menuParent: About
menuItem: Background
permalink: about.html
forward:
  text: "<p>Launched in 2010, <strong>Peak Facilitation Group</strong> is a small business devoted to conflict resolution
                    and rooted in reality. Her previous work in the field taught founder <strong>Heather Bergman</strong>                    that while most groups can find agreement, all groups benefit from respectful dialogue. Plus, she has
                    a gift for barking orders or gently nipping at a group's heels…whichever is required.</p>"
  image: images/about-sheep.jpg
  alt: Dog herding sheep
stripe: '<span class="quote">&ldquo;Heather could break up a fight in a biker bar.&rdquo;</span> &mdash;Gary Barber /
                Pikes Peak Regional Water Authority'
---
            <div class="full-article">
                <a name="heather"></a>
                <div class="lead-sidebar">
                    <img src="images/about-heather.jpg" width="280" height="194" alt="Heather Bergman - Senior Facilitator and President of Peak Facililation Group"
                    />
                    <p><strong>Heather Bergman</strong><br/> Senior Facilitator and President
                    </p>
                </div>
                <div class="right-content">
                    <p>Heather Bergman facilitates and mediates complex public policy deliberations on a variety of substantive
                        issues, including water quality, water quantity, watershed protection and restoration, land use planning,
                        and public lands management. These collaborative negotiations and discussions involve diverse stakeholders
                        from federal and state agencies, local municipalities, advocacy organizations, ranchers, farmers,
                        community residents, and the public at large.</p>
                    <p>Much of Heather&#39;s work portfolio focuses on high-conflict collaborative processes, and her strength is
                        helping diverse and often opposing participants find common ground. Heather also has an extensive
                        background in designing and managing retreats, workshops, and public outreach meetings for teams
                        and organizations in need of a targeted process for achieving their goals. Heather uses humor to
                        defuse tense situations, help participants feel at ease, move beyond initial barriers, and find consensus.</p>
                </div>

                <div class="divider"></div>
                <a name="samuel"></a>
                <div class="lead-sidebar">
                    <img src="images/about-samuel.png" width="280" height="194" alt="Samuel Wallace - Associate" />
                    <p><strong>Samuel Wallace</strong><br/> Associate
                    </p>
                </div>
                <div class="right-content">
                    <p>Samuel Wallace is an Associate at Peak Facilitation with a background in collaborative
                        stakeholder engagement and public participation strategy, particularly as it relates to
                        natural resource planning. At Peak, he works with clients to accurately write meeting
                        summaries and provide logistical and informational support for groups such as the Forest
                        Health Advisory Committee, the Front Range Roundtable, the Interbasin Compact
                        Committee, and the South Platte River Urban Waters Partnership.
                    </p><p>
                        Throughout his academic and professional career, Samuel has sought to address complex
                        environmental issues by using collaborative techniques. As an AmeriCorps VISTA
                        Volunteer at Purgatoire Watershed Partnership, a watershed-focused non-profit located in
                        southern Colorado, he worked with a multi-interest stakeholder group which included local
                        municipalities, ranchers, development groups, federal and state agencies, recreationists,
                        and conservationists to approach problems facing the watershed. Following this
                        experience, he moved back to Denver where he is currently pursuing a MA in conflict
                        resolution at the University of Denver. He earned his bachelor&#39;s degree at the University of
                        Michigan in environmental studies and political science.</p>
                    </p>
                </div>

                <div class="divider"></div>
                <a name="calley"></a>
                <div class="lead-sidebar">
                    <img src="images/about-calley.jpg" width="280" height="194" alt="Calley Schubert - Operations Manager" />
                    <p><strong>Calley Schubert</strong><br/> Operations Manager
                    </p>
                </div>
                <div class="right-content">
                    <p>Calley Schubert has been an integral part of Peak Facilitation since 2019, where her role
                        has continually evolved and expanded to encompass diverse responsibilities. Starting as
                        Operations Manager, her role has expanded to embrace the position of an Associate
                        Facilitator, contributing her expertise to multiple projects.</p>
                    <p>Calley specializes in virtual meeting design and facilitation, a skill crucial in today&#39;s digital
                        landscape. Her experiences at Peak have deepened her interest in stakeholder
                        collaboration, community engagement, and strategic planning. Notably, she has led
                        engagement efforts for high-profile initiatives like Boulder Community Health&#39;s annual
                        community health audit and currently oversees planning for various projects, including
                        wildfire entities in Jefferson and Douglas Counties. Calley has also guided online
                        engagement for nonprofit clients in Colorado and Arizona. Her dedication to effective
                        communication and technical writing consistently fosters transparency and meaningful
                        engagement.</p>
                </div>

                <div class="divider"></div>
                <a name="lauren"></a>
                <div class="lead-sidebar">
                    <img src="images/about-lauren.jpg" width="280" height="194" alt="Lauren Cortez French - Associate " />
                    <p><strong>Lauren Cortez French</strong><br/> Associate
                    </p>
                </div>
                <div class="right-content">
                    <p>As an Associate at Peak Facilitation, Lauren supports effective, outcome-based collaboration through clear and concise
                        technical writing, comprehensive meeting planning, and intentional, prompt stakeholder communication. Lauren earned a
                        B.S. in Biology and Environmental Science and Policy from the College of William &amp; Mary in 2022 and a master&#39;s degree
                        from the University of Washington&#39;s School of Marine and Environmental Affairs in 2024. Through her coursework and
                        previous work experience, she has developed a broad background in water, wildfire, and land use issues. Lauren strives
                        to maintain momentum in the collaborative process by identifying points of connection between stakeholders, documenting
                        key themes and decisions, ensuring actionable next steps are completed, and developing creative solutions to help
                        stakeholders move past roadblocks.
                    </p>
                </div>

                <div class="divider"></div>
                <a name="dominique"></a>
                <div class="lead-sidebar">
                    <img src="images/about-dominique.jpg" width="280" height="194" alt="Dominique Ashe - Project Coordinator" />
                    <p><strong>Dominique Ashe</strong><br/> Project Coordinator
                    </p>
                </div>
                <div class="right-content">
                    <p>Dominique is a bilingual communication and engagement practitioner
                        with experience in strategic planning, multi-stakeholder partnerships,
                        and conflict resolution. Her background includes work with a litany of
                        entities &#8212;from non-profit organizations to multi-jurisdictional
                        government institutions&#8212; addressing intricate natural resource
                        management challenges in collaborative settings. Dominique earned
                        her B.S. in Human Dimensions of Natural Resources and a minor in
                        Sustainable Water Interdisciplinary Management in 2020 from the
                        Colorado State University Warner College of Natural Resources.</p>
                    <p>Dominique&#39;s primary role as part of the Peak Facilitation Group is
                        supporting Heather and the associates in ensuring successful
                        outcomes for our clients, whether before, during, or after meetings,
                        workshops, and retreats. She maintains the logistical aspects of Peak&#39;s
                        events and aptly distills meeting discussions into action plans and
                        other documentation. Through her experience in multi-stakeholder
                        partnerships, Dominique has solidified her interest in becoming a future facilitator and mediator
                        and bringing Spanish into the conversations.</p>
                </div>
            </div>
