---
layout: layouts/base.njk
title: Home
menuParent: Home
permalink: index.html
forward:
  text: "<p>As human beings, we possess an instinctive urge to seek out and claim the <strong>highest point</strong> possible. Creating extra room at the top for different perspectives poses a true challenge. Based in Colorado, <strong>Peak Facilitation Group</strong> is a small business offering facilitation and mediation services that help people build consensus and reach <strong>common ground</strong>…together.</p>"
  image: images/home-climbing.jpg
  alt: Reaching the peak
stripe: '<span class="quote">&ldquo;We help participants understand all the values and interests around the table.&rdquo;</span>'
---
    	<div class="lead-sidebar">
        <img src="images/home-bucks.jpg" width="280" height="194" alt="Bucks" />
        <p>We work with <strong>key stakeholders</strong> in environmental policy conflicts, including community groups, farmers, ranchers, water providers and users, developers, environmental advocates, and state, local, and federal agencies.</p>
        </div>

        <div class="content">
        <p><strong>Peak Facilitation Group</strong> is a Colorado-based small business that offers facilitation and mediation services. Our primary focus is stakeholder collaboration and public engagement in public policy issues regarding natural resources planning and management. Often, the projects we work on are controversial and characterized by a high level of conflict and emotion. Peak Facilitation manages these dialogues with a balanced approach that is focused on identifying shared interests and generating productive, outcome-based conversations. Other projects are less divisive but require the involvement of a skilled facilitator to achieve improved communication, shared visioning, or creative problem solving. At Peak Facilitation, we tailor our approach to each unique situation and are committed to bringing the best out of every group.</p>

        <p>In stakeholder collaborative discussions, we help participants understand all of the values and interests around the table. We work to find common ground and identify policy solutions that advance everyone's interests. In public engagement processes, we work with clients to design and facilitate meetings that help the public gain understanding of the issue or problem at hand and provide feedback in a meaningful and productive way. In all our work, we are committed to ensuring fairness and transparency, achieving outcomes in addition to dialogue, and making efficient use of our participants' time and our clients' resources.</p>
        </div>
