---
layout: layouts/base.njk
title: Land and Fire Projects
menuParent: Projects
menuItem: Land & Fire
permalink: projects-landfire.html
forward:
  text: "<p>Land and fire issues affect everyone. Peak supports effective collaboration across a range of land use topics, including state and federal resource management, local master planning, and forest and watershed restoration. We also facilitate processes that help agencies coordinate fire response, plan mitigation treatments, and develop policies to keep communities safe.</p>"
  image: images/projects-group.jpg
  alt: Group informal meeting
stripe: '<span class="quote">&ldquo;You can stand tall without standing on someone...be a victor without having victims.&rdquo;</span> &mdash;Harriet Woods'
---
{%- for project in projects.landfire -%}
{%- set last = loop.last -%}
{% include "components/passage.njk" %}
{%- endfor -%}
