---
layout: layouts/base.njk
title: Animals and Wildlife Projects
menuParent: Projects
menuItem: Animals & Wildlife
permalink: projects-wildlife.html
forward:
  text: "<p>Humans and wildlife interact in complex ways. Peak supports agencies, farmers, ranchers, wildlife advocates, NGOs, and community members as they navigate these complexities regarding local, state, and federal policy. We help stakeholders determine their role in managing wildlife and balancing ecological, sociocultural, and economic interests.</p>"
  image: images/projects-circle.jpg
  alt: Group informal meeting
stripe: '<span class="quote">&ldquo;The human race has survived because of cooperation, not aggression.&rdquo;</span> &mdash;Gerard Vanderhaar'
---
{%- for project in projects.wildlife -%}
{%- set last = loop.last -%}
{% include "components/passage.njk" %}
{%- endfor -%}
