---
layout: layouts/base.njk
title: Retreats
menuParent: Projects
menuItem: Retreats
permalink: projects-retreats.html
forward:
  text: "<p><strong>Peak retreats</strong> are smaller in scale but have big rewards. We work with city councils, boards of directors, leadership teams, and organizations of all sizes to design customized processes for retreats, workshops, or public meetings. If a team needs to regroup, a group needs to re-prioritize, or it's a priority for the public to weigh in, <strong>Peak</strong> ensures that the gathering is a <strong>success</strong>.</p>"
  image: images/projects-roundtable.jpg
  alt: Group informal meeting
stripe: '<span class="quote">&ldquo;Unless both sides win, no agreement can be permanent.&rdquo;</span> &mdash;Jimmy Carter'
---
            <div class="passage">
                <div class="passage-photo"><img src="images/projects-library.jpg" width="280" height="194" alt="" /></div>
                <div class="passage-text">
                    <h3>Emergenetics</h3>
                    <p>Katie Waller is a certified <a href="https://www.emergenetics.com" target="_blank">Emergenetics</a> associate.
                        Emergenetics is a psychometric tool that offers a unique lens through which to view significant workplace
                        and business challenges, such as interpersonal and interdepartmental communication, team/department/office
                        dynamics, personal development and coaching, strategic hiring, and powerful collaboration. Peak Facilitation
                        is determined to ensure that all Emergenetics-based work is dynamic, effective, and operative, ensuring
                        that the lessons learned and new skills are suitable for daily practice and application.</p>
                </div>
            </div>
            <div class="passage">
                <div class="passage-photo"><img src="images/projects-teamonthree.jpg" width="280" height="194" alt="Hands in center" /></div>
                <div class="passage-text">
                    <h3>Team Building</h3>
                    <p>Peak Facilitation provides team-building services for teams and organizations of all sizes and types.
                        Using an outcome-driven approach, Peak Associates guide participants through engaging and meaningful
                        activities meant improve team efficiency, communication, and performance. Group discussions during
                        team-building sessions are guided by the facilitator to root out and address challenges such as interpersonal
                        communication hurdles, unproductive group dynamics, individual and team assets and deficiencies,
                        and team member roles. With continued engagement, Peak works to create resilient and self-sufficient
                        teams that are greater than the sum of their parts.</p>
                </div>
            </div>
            <div class="passage last">
                <div class="passage-photo"><img src="images/projects-handsattable.jpg" width="280" height="194" alt="Hands around a table" /></div>
                <div class="passage-text">
                    <h3>Retreats and Strategic Planning</h3>
                    <p>Elected bodies, boards of directors, city councils, and project teams all benefit from retreats as opportunities
                        to step back, take stock, and make a plan for the future. Retreats often involve visioning, strategic
                        planning, goal setting, prioritizing, team building, and work plan construction. Retreats vary in
                        length, but Peak always ensures that the group's the desired outcomes are achieved. Some past retreat
                        clients include the Boulder City Council, Arvada City Council, Town of Berthoud Board of Trustees,
                        Lakewood City Council, Wheat Ridge City Council, Colorado WaterWise, Eagle Valley Land Trust, Catamount
                        Institute, Alliance for Sustainable Colorado, Western Resource Advocates, and Friends of the Dillon
                        Ranger District.</p>
                </div>
            </div>
