---
layout: layouts/base.njk
title: Values
menuParent: About
menuItem: Values
permalink: values.html
forward:
  text: "<p>Launched in 2010, <strong>Peak Facilitation Group</strong> is a small business devoted to conflict resolution
                    and rooted in reality. Her previous work in the field taught founder <strong>Heather Bergman</strong>                    that while most groups can find agreement, all groups benefit from respectful dialogue. Plus, she has
                    a gift for barking orders or gently nipping at a group's heels…whichever is required.</p>"
  image: images/about-sheep.jpg
  alt: Dog herding sheep
stripe: '<span class="quote">&ldquo;Heather could break up a fight in a biker bar.&rdquo;</span> &mdash;Gary Barber /
                Pikes Peak Regional Water Authority'
---
            <div class="full-article" style="font-size: 1.3em; line-height: 1.5em;">

                <p>
                <h1 style="font-size: 1.4em">Our Core Values</h1>
                </p>

                <p>
                <strong style="font-size: 1.2em">Neutrality</strong>
                <br/>
                <span style="display: inline-block; margin: 10px 20px">We only work on issues about which we have no policy preference or desired outcome. We don't have our thumb on the scale of collaborative results.</span>
                </p>

                <p>
                <strong style="font-size: 1.2em">Respect</strong>
                <br/>
                <span style="display: inline-block; margin: 10px 20px">We treat all our stakeholders and participants with kindness and dignity, and we honor and value their ideas and contributions equally. We don't play favorites.</span>
                </p>

                <p>
                <strong style="font-size: 1.2em">Humility</strong>
                <br/>
                <span style="display: inline-block; margin: 10px 20px">We lift up the work and contributions of our stakeholders, participants, and clients, and we celebrate their successes. We don't toot our own horn or look to see our name in lights.</span>
                </p>

                <p>
                <strong style="font-size: 1.2em">Openness</strong>
                <br/>
                <span style="display: inline-block; margin: 10px 20px">We appreciate that good ideas, creative solutions, new ways of thinking, and effective outcomes can come from anyone, anywhere, anytime. We don't assume that we know more or know better.</span>
                </p>

                <p>
                <strong style="font-size: 1.2em">Integrity</strong>
                <br/>
                <span style="display: inline-block; margin: 10px 20px">We design processes that are meaningful, effective, and efficient. We don't waste time or resources.</span>
                </li>

            </div>
